################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureStorageArchiver/bin/Debug
/AzureStorageArchiver/obj/Debug
/.vs/AzureStorageArchiver/v15
/packages
